@model VietNam.Models.Student

@{
    ViewData["Title"] = "Chi tiết sinh viên";
}

<h2>Chi tiết sinh viên</h2>
<p><b>ID:</b> @Model.Id</p>
<p><b>Tên:</b> @Model.Name</p>
<p><b>Tuổi:</b> @Model.Age</p>

<a href="/aptech/student">Quay về danh sách</a>
